# Add the custom XMP namespaces to the main XMP table

# usage:
#
# exiftool -config /Users/vaibhav/Developer/projects/PhotoMuxer/google_camera.config -overwrite_original -XMP-GCamera:MicroVideo="1" -XMP-GCamera:MicroVideoVersion="1" -XMP-GCamera:MicroVideoOffset="4254557" -XMP-GCamera:MicroVideoPresentationTimestampUs="99918" /Users/vaibhav/Downloads/out/IMG_3693.jpeg
# 
#

%Image::ExifTool::UserDefined = (
	# new XMP namespaces (eg. xxx) must be added to the Main XMP table:
    'Image::ExifTool::XMP::Main' => {
        # namespace definition for examples 8 to 11
        GCamera => { # <-- must be the same as the NAMESPACE prefix
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::GCamera',
            },
        },
        Container => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::Container',
            },
        },
        Item => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::Item',
            },
        },
    },
);


# Define custom XMP namespace for Google Camera
%Image::ExifTool::UserDefined::GCamera = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-GCamera', 2 => 'Image' },
    NAMESPACE => { 'GCamera' => 'http://ns.google.com/photos/1.0/camera/' },
    WRITABLE => 'string',
    # Define custom XMP tags
    MicroVideo => {},
    MicroVideoVersion => {},
    MicroVideoOffset => {},
    MicroVideoPresentationTimestampUs => {},
);

# Define custom XMP namespace for Google Container
%Image::ExifTool::UserDefined::Container = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-Container', 2 => 'Image' },
    NAMESPACE => { 'Container' => 'http://ns.google.com/photos/1.0/container/' },
    WRITABLE => 'string',
    # Define custom XMP tags
    Directory => {
        List => 'Seq',
        SubDirectory => {
            TagTable => 'Image::ExifTool::UserDefined::XMP::Item',
        },
    },
);

# Define custom XMP namespace for Google Container Item
%Image::ExifTool::UserDefined::Item = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-Item', 2 => 'Image' },
    NAMESPACE => { 'Item' => 'http://ns.google.com/photos/1.0/container/item/' },
    WRITABLE => 'string',
    # Define custom XMP tags
    Mime => {},
    Semantic => {},
    Length => {},
    Padding => {},
);

1; # end